@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'variables';
@import 'mixins';
html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: $font;
  font-size: 1.125rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;

  font-weight: 700;
  font-size: 0.875rem;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.button {
  padding: 0.825rem 2rem;
  background-color: #2acfcf;
  border-radius: 2rem;
  border: 0;
  color: white;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    opacity: 0.75;
  }
}
